/* Reset default list styles for ul and ol */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Navigation bar styles */
nav {
  background-color: #32588c;
  top: 0;
  width: 100%;
}

nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  color: white;
}

nav a:hover {
  background-color: #007bff;
}

nav ul {
  text-align: center;
}

nav li {
  display: inline;
  margin-right: 20px;
}

/* Dropdown menu styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #007bff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Headings styles */
h2 {
  margin-bottom: 20px;
}

/* Form styles */
form {
  margin: auto;
  width: 300px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type='text'],
input[type='password'],
input[type='number'],
input[type='email'],
select,
input[type='date'],
textarea {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type='submit'] {
  background-color: black;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button[type='submit']:hover {
  background-color: #007bff;
}

button[type='submit']:focus {
  outline: none;
}

/* Logout button styles */
.logoutButton {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.logoutButton:hover {
  background-color: #007bff;
}

.logoutButton:focus {
  outline: none;
}

/* Profile container styles */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 1px solid;
}

/* Profile card styles */
.profile-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 10px auto;
  text-align: center;
  font-family: arial;
  border: 3px solid black;
  padding: 10px;
}

/* Not found container styles */
.not-found-container {
  text-align: center;
}

.not-found-image {
  width: 300px;
  height: auto;
  margin-top: 20px;
}

/* Home container styles */
.home-container {
  margin: 20px;
}

.page-title {
  color: #333;
}

/* Admin section styles */
.admin-section {
  margin-top: 20px;
}

.admin-section h3 {
  color: #007bff;
}

/* Recruiter section styles */
.recruiter-section {
  margin-top: 20px;
}

.recruiter-section h3 {
  color: #28a745;
}

/* Jobseeker section styles */
.jobseeker-section {
  margin-top: 20px;
}

.jobseeker-section h3 {
  color: #dc3545;
}

/* Side navbar styles */
.container {
  display: flex;
}

.sidenav {
  background-color: #333;
  width: 200px;
  height: 100vh;
  overflow-y: auto;
}

.sidenav ul {
  padding: 0;
}

.sidenav li {
  display: block;
}

.sidenav a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: white;
}

.sidenav a:hover {
  background-color: #007bff;
}

/* Main content styles */
.main-content {
  flex: 1;
  padding: 20px;
}

/* Flip card styles */
.img1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #32588c;
}

nav ul {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  color: white;
}

nav a:hover {
  background-color: #007bff;
}
